<div class="content">
    <div class="title">
        <h1>Contact Us</h1>
    </div>
    <div class="body">
        <p>For any volunteering questions, contact:</p>
        <br>
        <i>Volunteer Resources Manager</i>
        <p><b>Mary Friend</b> - <a href = "#">mfriend@rmhcin.org</a></p>
        <p>Phone: (317) 267-0605, ext. 225<br>435 Limestone Street<br>
            Indianapolis, IN 46202</p>
        <br>
        <br>
        <b>To see the full staff directory, <a href = "http://www.rmhccin.org/contact/">click here.</a></b>
    </div>

</div>

