<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                hello
                <div class = "col-md-4">
                    <label for = "OrganizationName">Organization's Name:</label>
                    <input type = "text" class="form-control" id = "OrganizationName">
                </div>
                <div class = "row"></div>
                <div class = "col-md-4">
                    <label for = "ContactPerson">Contact Person:</label>
                    <input type = "text" class="form-control" id = "ContactPerson">
                </div>
                <div class = "row"></div>
                <div class = "col-md-4">
                    <label for = "PhoneNumber">Phone Number:</label>
                    <input type = "text" class="form-control" id = "PhoneNumber">
                </div>
                <div class = "row"></div>
                <div class = "col-md-4">
                    <label for = "Email">Email:</label>
                    <input type = "email" class="form-control" id = "Email">
                </div>
                <div class = "row"></div>
                <div class = "col-md-4">
                    <label for = "NumberOfVolunteers">Number of Volunteers:</label>
                    <input type = "number" min="1" max="20" class="form-control" id = "NumberOfVolunteers">
                </div>
                <div class = "row"></div>
                <div class = "col-md-4">
                    <label for = "TypeOfServiceProject">Type of Service Project:</label>
                    <input type = "text" class="form-control" id = "TypeOfServiceProject">
                </div>
                <div class = "row"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>